@using ZoomTourism.Models;

@model IEnumerable<Blog>
@{
    ViewData["Title"] = "BlogCreation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/tableDesign.scss" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tableDesign.css" asp-append-version="true" />
  
    <title>Blogs list</title>

</head>


<div class="container">
    <div class="createButton">
        <a asp-controller="Blog" asp-action="Upsert">Create New Blog</a>
    </div>
    <table id="tbldata" class="" style="width: 100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                 <th>Author</th>
                <th>Date</th>
                <th>Category</th>
                <th>Img</th>
                <th></th> 
            </tr>
        </thead>

    </table>

</div>

@section Scripts{
    <script>
        var currentPage = "blogsCrmPage";
    </script>
    <script src="~/js/LeadTable.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Dashboard.js"></script>
    <script src="~/js/IndexTranslation.js"></script>
    <script src="~/js/BlogTable.js"></script>
}