.trips-choosing-container {
    display: flex;
    gap: 1rem;
    border: #C4942F solid 3px;
    padding: 2rem;
    border-radius: 22px;
    flex-direction: column;
}

.trips-choosing-container h2 {
    color: #C4942F;
    font-size: 2em;
    margin: 0rem 0rem 2rem 0rem;
}


@media only screen and (min-width: 750px) {
    .blogBox {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-items: stretch;
        list-style: none;
    }
}

@media only screen and (max-width: 750px) {
    .blogBox {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        justify-items: stretch;
        list-style: none;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 5rem 2rem !important;
        background-color: #fff;
        padding: 2rem 1rem !important;
        border-radius: 22px;
    }
}

.trip-choosing {
    height: 100%;
    border-radius: 10px;

}

.trip-choosing-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .trip-choosing-content img {
        border-radius: 10px 0px 0px 10px;
    }

    .trip-choosing-content a {
        margin: 0rem 1rem 0rem 0rem;
    }

.trip-choosing-content h3 {
    color: #fff;
    font-size: 1.5em;
}

label {
    display: block;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
    /* Hide the checkbox */
}

input[type="checkbox"]+.trip-choosing-content {
    background-color: #C4942F;
    border-radius: 10px;
    /* Add your desired background color */
    transition: background-color 0.3s;
    /* Add a smooth transition effect */
}

/* Style for checked state */
input[type="checkbox"]:checked+.trip-choosing-content {
    background-color: #ac8126;
    box-shadow: 1px 1px 20px #47340a;
    /* Change to your desired background color for the checked state */
}

.trip-choosing.hidden {
    display: none;
}

.form-container{
    display:flex;
    flex-direction:column;
    gap:2rem;
    margin: 5rem 12rem;
    background-color:#fff;
    padding:2rem 3rem;
    border-radius: 22px;
}


body {
    background-image: url("/assets/Pictures/private-trip.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    background-color: #ffffffce;
    padding-bottom: 1rem;
}

.whatsapp-btn {
    display:flex;
    justify-content:center;

}

#whatsapp-button {
    background-color: #25d366;
    color: #fff;
    font-size: 1.3em;
    border-radius: 27px;
    padding: 1rem 3rem;
}


/*.private-trip-backgroundImage img{
    top:0;
    left:0;
    position:sticky;
    z-index:-1;
    height:100vh;
}*/