.trips-choosing-container {
    border: #C4942F solid 3px;
    padding: 2rem;
    border-radius: 22px;
}

.trips-choosing-container h2 {
    color: #C4942F;
    font-size: 2em;
    margin: 0rem 0rem 2rem 0rem;
}


@media only screen and (min-width: 750px) {
    .blogBox {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-items: stretch;
        list-style: none;
    }
}

@media only screen and (max-width: 750px) {
    .blogBox {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        justify-items: stretch;
        list-style: none;
    }
}

.trip-choosing {
    height: 100%;
    border-radius: 10px;

}

.trip-choosing-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
}

.trip-choosing-content h3 {
    color: #fff;
    font-size: 1.5em;
}

label {
    display: block;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
    /* Hide the checkbox */
}

input[type="checkbox"]+.trip-choosing-content {
    background-color: #C4942F;
    border-radius: 10px;
    /* Add your desired background color */
    transition: background-color 0.3s;
    /* Add a smooth transition effect */
}

/* Style for checked state */
input[type="checkbox"]:checked+.trip-choosing-content {
    background-color: #ac8126;
    box-shadow: 1px 1px 20px #47340a;
    /* Change to your desired background color for the checked state */
}

.trip-choosing.hidden {
    display: none;
}

.form-container{
    display:flex;
    flex-direction:column;
    gap:2rem;
    margin: 5rem 12rem;
}