@font-face {
    font-family: 'inter';
    src: url('../assets/Font/Inter-Medium.ttf');
}

* {
    font-family: 'inter' !important;
}


button {
    -webkit-tap-highlight-color: transparent;
    /* Safari and other WebKit-based browsers */
    tap-highlight-color: transparent;
    /* Modern browsers */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

#languageSelector {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 20px; /* Adjust this value to position the flag image as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 3rem;
    font-size: 16px; /* Adjust the font size as needed */
    cursor: pointer;
}

    /* Style individual options */
    #languageSelector option[value="en"] {
        background-image: url('/assets/Flags/USA.png'); /* Replace 'usa-flag.png' with the flag image for English */
    }

    #languageSelector option[value="ar"] {
        background-image: url('/assets/Flags/Arabic.png'); /* Replace 'arabic-flag.png' with the flag image for Arabic */
    }
    #languageSelector option[value="ru"] {
        background-image: url('/assets/Flags/RUSSIA.png'); /* Replace 'usa-flag.png' with the flag image for English */
    }

    #languageSelector option[value="tr"] {
        background-image: url('/assets/Flags/TURKEY.png'); /* Replace 'arabic-flag.png' with the flag image for Arabic */
    }

button:focus {
    outline: none;
    /* Remove the outline style */
}


button {
    background: transparent;
    border: none;
    cursor: pointer;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.Transperent-brand-btn,
.brand-background-btn {
    font-weight: 600;
    font-size: 1em;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.Transperent-brand-btn {
    color: #C4942F;
    background-color: transparent;
}

.brand-background-btn {
    background-color: #C4942F;
    border-radius: 22px;
    padding: .7rem 2rem;
}

.anchor-with-img {
    display: flex;
    align-items: center;
    max-width: fit-content;
    gap: 1rem;
}


@media only screen and (min-width: 885px) {
}

@media only screen and (max-width: 885px) {
}




.footer {
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
}

    .footer h2 {
        color: #ffffff;
        font-size: 20px;
        font-family: 'MontserratMedium';
    }

.copyrights {
    color: #ffffff;
    font-family: 'MontserratMedium';
    font-size: 14px;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.footerSection {
    margin: 140px 0px 0px 0px;
    background-color: #1A1D23;
    padding: 20px 0px 20px 0px;
}






.footer-heading a {
    margin: 15px 64px 0px 0px;
}

.SocialmediaIcons a {
    margin: 0px 6px 0px 6px;
}

.footer a {
    color: #ffffffdc;
    font-family: 'MontserratMedium';
    text-decoration: none;
    font-size: 16px;
}

    .footer a:hover {
        color: #FF2E63;
        transition: 0.5s;
    }




.footer p {
    color: #ffffff;
    font-size: 16px;
    margin: 20px 0px 20px 0px;
    font-family: 'MontserratMedium';
}

.footer-heading {
    display: flex;
    flex-direction: column;
}

.SocialmediaIcons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}


.logoInfo {
    margin: 10px 0px 0px 0px;
}

    .logoInfo p {
        font-size: 14px;
        width: 280px;
        color: #ffffff;
        font-family: 'MontserratMedium';
    }

