@{
    ViewData["Title"] = "Home Page";
}
<head>
   
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>

<section class="img-text-section">
    <div class="text-side">
        <h1>We Take Care Of Your Trip</h1>
        <p>
            To get the best of your adventure you just need to leave and go where you like. We are waiting for you.
        </p>
        <a class="brand-background-btn anchor-with-img" href="">
            Plan a Trip <img src="../assets/Icons/arrowRight.png"
                             style="max-height: 15px;" alt="">
        </a>
    </div>

    <div>
        <img class="main-ZOOM" src="../assets/Pictures/main-ZOOM.png" alt="">
    </div>
</section>


<section class="value-section">
    <div class="man-suitcase-side">
        <div class="man-suitcase">
            <img src="../assets/Pictures/man-suitcase.png" style="max-height: 420px;" alt="man-suitcase">
        </div>
        <div>
            <img src="../assets/Pictures/man-suitcase.png" style="opacity: 0; max-height: 420px;" alt="man-suitcase">
        </div>
    </div>




    <div class="top-values">
        <div class="value-sec-title">
            <h2>Top Value For You</h2>
            <p>Try a variety of benefits when using our services.</p>
        </div>

        <div class="dashed-line-mobile">
            <div class="dashed-line"></div>
        </div>

        <div class="values">
            <div class="value">
                <div class="value-title">
                    <img src="../assets/Icons/twoStars.png" alt="">
                    <h3>Lot’s of Choices</h3>
                </div>
                <div class="value-para">
                    <img src="../assets/Icons/twoStars.png" style="opacity: 0 !important;" alt="placeholder">
                    <p>Total of 25 tours in Turkey</p>
                </div>
            </div>

            <div class="value">
                <div class="value-title">
                    <img src="../assets/Icons/starBadge.png" alt="">
                    <h3>Best Tour Guide</h3>
                </div>
                <div class="value-para">
                    <img src="../assets/Icons/starBadge.png" style="opacity: 0 !important;" alt="placeholder">
                    <p>Our tour guide with 10+ years of experience</p>
                </div>
            </div>

            <div class="value">
                <div class="value-title">
                    <img src="../assets/Icons/like.png" alt="">
                    <h3>Easy Booking</h3>
                </div>
                <div class="value-para">
                    <img src="../assets/Icons/like.png" style="opacity: 0 !important;" alt="placeholder">
                    <p>With an easy and fast way to book your trip</p>
                </div>
            </div>

        </div>

    </div>
</section>



<section class="top-dest-sec">

    <div class="section-title">
        <div class="section-title-text">
            <h2>TOP DESTINATION</h2>
            <h3>Explore Top Destinations</h3>
        </div>
        <div class="section-title-cta">
            <a href="">Check All -></a>
        </div>
    </div>

    <div class="carousel-container">
        <button class="carousel-control prev"><img src="../assets/Icons/arrowLeft.png" alt=""></button>

        <div class="carousel">

            <div class="carousel-item">
                <div class="Thumbnail">
                    <span>250$</span>
                    <img src="../assets/trips/kapadokya.png" alt="Trip 1">
                </div>

                <div class="trip-description">
                    <div class="trip-title">
                        <h3>Enjoy the Beauty of Bursa</h3>
                        <p>Bursa</p>
                    </div>

                    <div class="rating">
                        <div class="star-rating"><img src="../assets/Icons/StarReview.png" alt="star">4.6</div>
                        <span>(2.7k reviews)</span>
                    </div>
                </div>


            </div>

            <div class="carousel-item">
                <div class="Thumbnail">
                    <span>250$</span>
                    <img src="../assets/trips/Trabzon.png" alt="Trip 1">
                </div>

                <div class="trip-description">
                    <div class="trip-title">
                        <h3>Enjoy the Beauty of Bursa</h3>
                        <p>Bursa</p>
                    </div>

                    <div class="rating">
                        <div class="star-rating"><img src="../assets/Icons/StarReview.png" alt="star">4.6</div>
                        <span>(2.7k reviews)</span>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="Thumbnail">
                    <span>250$</span>
                    <img src="../assets/trips/Bursa.png" alt="Trip 1">
                </div>

                <div class="trip-description">
                    <div class="trip-title">
                        <h3>Enjoy the Beauty of Bursa</h3>
                        <p>Bursa</p>
                    </div>

                    <div class="rating">
                        <div class="star-rating"><img src="../assets/Icons/StarReview.png" alt="star">4.6</div>
                        <span>(2.7k reviews)</span>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control next"><img src="../assets/Icons/arrowRight.png" alt=""></button>
    </div>

    <div class="carousel-container-mobile">
        <div class="carousel-item-mobile">

            <span class="price-tag">250$</span>

            <div class="trip-description-mobile">

                <div class="trip-title-mobile">
                    <h3>Cappadocia</h3>
                </div>

                <div class="rating-mobile">
                    <div class="star-rating-mobile"><img src="../assets/Icons/StarReview.png" alt="star">4.6</div>
                    <span>(2.7k reviews)</span>
                </div>

            </div>

            <div class="image-container">
                <img class="Thumbnail-trip-mobile" height="300px" src="../assets/trips/kapadokya.png" alt="Trip 1">
            </div>
        </div>

        <div class="carousel-item-mobile">

            <span class="price-tag">250$</span>

            <div class="trip-description-mobile">

                <div class="trip-title-mobile">
                    <h3>Cappadocia</h3>
                </div>

                <div class="rating-mobile">
                    <div class="star-rating-mobile"><img src="../assets/Icons/StarReview.png" alt="star">4.6</div>
                    <span>(2.7k reviews)</span>
                </div>

            </div>

            <div class="image-container">
                <img class="Thumbnail-trip-mobile" height="300px" src="../assets/trips/kapadokya.png" alt="Trip 1">
            </div>
        </div>
        <div class="carousel-item-mobile">

            <span class="price-tag">250$</span>

            <div class="trip-description-mobile">

                <div class="trip-title-mobile">
                    <h3>Cappadocia</h3>
                </div>

                <div class="rating-mobile">
                    <div class="star-rating-mobile"><img src="../assets/Icons/StarReview.png" alt="star">4.6</div>
                    <span>(2.7k reviews)</span>
                </div>

            </div>

            <div class="image-container">
                <img class="Thumbnail-trip-mobile" height="300px" src="../assets/trips/kapadokya.png" alt="Trip 1">
            </div>
        </div>

        <div class="carousel-item-mobile">

            <span class="price-tag">250$</span>

            <div class="trip-description-mobile">

                <div class="trip-title-mobile">
                    <h3>Cappadocia</h3>
                </div>

                <div class="rating-mobile">
                    <div class="star-rating-mobile"><img src="../assets/Icons/StarReview.png" alt="star">4.6</div>
                    <span>(2.7k reviews)</span>
                </div>

            </div>

            <div class="image-container">
                <img class="Thumbnail-trip-mobile" height="300px" src="../assets/trips/kapadokya.png" alt="Trip 1">
            </div>
        </div>

        <div class="carousel-item-mobile">

            <span class="price-tag">250$</span>

            <div class="trip-description-mobile">

                <div class="trip-title-mobile">
                    <h3>Cappadocia</h3>
                </div>

                <div class="rating-mobile">
                    <div class="star-rating-mobile"><img src="../assets/Icons/StarReview.png" alt="star">4.6</div>
                    <span>(2.7k reviews)</span>
                </div>

            </div>

            <div class="image-container">
                <img class="Thumbnail-trip-mobile" height="300px" src="../assets/trips/kapadokya.png" alt="Trip 1">
            </div>
        </div>

        <div class="carousel-item-mobile">

            <span class="price-tag">250$</span>

            <div class="trip-description-mobile">

                <div class="trip-title-mobile">
                    <h3>Cappadocia</h3>
                </div>

                <div class="rating-mobile">
                    <div class="star-rating-mobile"><img src="../assets/Icons/StarReview.png" alt="star">4.6</div>
                    <span>(2.7k reviews)</span>
                </div>

            </div>

            <div class="image-container">
                <img class="Thumbnail-trip-mobile" height="300px" src="../assets/trips/kapadokya.png" alt="Trip 1">
            </div>
        </div>
    </div>

</section>

<section class="img-text-section CustomTrip-section">

    <div class="text-side CustomTrip-text">
        <h2>CUSTOM TRIP</h2>
        <h3>You want to plan your own trip?</h3>
        <p>
            Choose your destination, explore attractions, create an itinerary, and book accommodation—all in one
            place.
        </p>
        <a class="brand-background-btn anchor-with-img" href="">Let’s Go!</a>
    </div>
    <div>
        <img class="CustomTrip-img" src="../assets/Pictures/CustomTrip.png" alt="">
    </div>
</section>

<section class="experience-sec">

    <div>
        <img class="xp-girl" src="../assets/Pictures/girl-xp-suitcase.png" alt="">
    </div>

    <div class="experience-text-side">
        <h2>Our Experience</h2>
        <h3>With Our Experience We Will Serve You</h3>
        <p>
            To get the best od your adventure you just need to leave and go where you like. We are waiting for you.
        </p>
        <div class="experience-items">
            <div class="xp-item">
                <h4>8+</h4>
                <p>Years of Experience</p>
            </div>
            <div class="xp-item">
                <h4>25+</h4>
                <p>Destinations in Turkey</p>
            </div>
            <div class="xp-item">
                <h4>1000k+</h4>
                <p>Happy Customer</p>
            </div>
        </div>
    </div>

</section>


<section class="review-sec">
    <div class="reviews-text-side">
        <div class="reviews-text">
            <h2>Reviews</h2>
            <h3>What Our Customer Say About Us</h3>
        </div>
        <div class="reviews">
            <button class="next-btn">
                <img style="max-height: 40px;" src="../assets/Icons/right-btn-arrow.png"
                     alt="">
            </button>
            <div class="review-carousel">


                <div class="carousel-viewport">
                    <div class="review-card-container">
                        <div class="review-card">
                            <div class="review-id">
                                <h4>Joe Doe</h4>
                                <span>Software Engineer</span>
                            </div>

                            <div class="review-stars">
                                <img src="../assets/Icons/StarReview.png" alt="">
                                <img src="../assets/Icons/StarReview.png" alt="">
                                <img src="../assets/Icons/StarReview.png" alt="">
                                <img src="../assets/Icons/StarReview.png" alt="">
                                <img src="../assets/Icons/StarReview.png" alt="">
                            </div>
                            <p>
                                “I am a traveler and Zoom helped me a lot in finding interesting tourist destinations
                                and
                                of
                                course
                                the
                                price offered is very worth it.”
                            </p>
                        </div>
                    </div>

                    <div class="review-card-container">
                        <div class="review-card">
                            <div class="review-id">
                                <h4>Joe Doe</h4>
                                <span>Software Engineer</span>
                            </div>

                            <div class="review-stars">
                                <img src="../assets/Icons/StarReview.png" alt="">
                                <img src="../assets/Icons/StarReview.png" alt="">
                                <img src="../assets/Icons/StarReview.png" alt="">
                                <img src="../assets/Icons/StarReview.png" alt="">
                                <img src="../assets/Icons/StarReview.png" alt="">
                            </div>
                            <p>
                                “I am a traveler and Zoom helped me a lot in finding interesting tourist destinations
                                and
                                of
                                course
                                the
                                price offered is very worth it.”
                            </p>
                        </div>
                    </div>

                    <div class="review-card-container">
                        <div class="review-card">
                            <div class="review-id">
                                <h4>Joe Doe</h4>
                                <span>Software Engineer</span>
                            </div>

                            <div class="review-stars">
                                <img src="../assets/Icons/StarReview.png" alt="">
                                <img src="../assets/Icons/StarReview.png" alt="">
                                <img src="../assets/Icons/StarReview.png" alt="">
                                <img src="../assets/Icons/StarReview.png" alt="">
                                <img src="../assets/Icons/StarReview.png" alt="">
                            </div>
                            <p>
                                “I am a traveler and Zoom helped me a lot in finding interesting tourist destinations
                                and
                                of
                                course
                                the
                                price offered is very worth it.”
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="reviews-map">
        <img src="../assets/Pictures/reviews-map.png" alt="">
    </div>


</section>

