@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Category" asp-action="Index" asp-area="Admin">Category</a>
    <a asp-controller="Blog" asp-action="Index" asp-area="Admin">Blogs</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
