@using CodyleOffical.Utility;
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
﻿@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="/assets/Brand/LogoPlane.png">
    <link rel="stylesheet" href="~/css/NavBar.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="nav-header">
                <a asp-action="Index" asp-controller="Home" asp-area="Customer"><img src="~/assets/Brand/Logo.png" alt="Logo" class="logo"></a>
                <div class="hamburger-menu">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <ul class="nav-list">
                <a href="aboutus.html">
                <li class="nav-links">About Us</li>
                </a>
                <a asp-action="Trips" asp-controller="Home" asp-area="Customer">
                <li class="nav-links">Trips</li>
                </a>
                <a asp-action="Blogs" asp-controller="Home" asp-area="Customer">
                <li class="nav-links">Blogs</li>
                </a>
                <a asp-action="CarRental" asp-controller="Car" asp-area="Customer">
                <li class="nav-links">Car Rental</li>
                </a>
            </ul>
            <div class="nav-buttons">

                @if (SignInManager.IsSignedIn(User))
                {
                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_CodyleSupport))
                    {
                        <li class="nav-item">
                            <a id="manage" class="nav-link " style="color:#C4942F; text-decoration:none;" asp-controller="Home" asp-area="Admin" asp-action="AdminDashboard" title="Manage">CRM</a>
                        </li>
                    }
                    else if (User.IsInRole(SD.Role_CallCenter) || User.IsInRole(SD.Role_Booking) || User.IsInRole(SD.Role_Driver))
                    {
                        <li class="nav-item">
                            <a id="manage" class="nav-link " style="color:#C4942F; text-decoration:none;" asp-controller="Lead" asp-area="Admin" asp-action="Leads" title="Manage">CRM</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a id="manage" class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><img src="~/assets/icons/User-Icon.png" alt="Profile Picture"></a>
                    </li>
                   
                   
                }
                else
                {
                    <div class="nav-buttons">
                    <li style="list-style:none;" class="nav-item">
                        <a class="nav-link Transperent-brand-btn" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>

                        <li style="list-style:none;" class="nav-item">
                        <a class="nav-link brand-background-btn" id="register" asp-area="Identity" asp-page="/Account/Register">Sign up</a>
                    </li>
                    </div>

                }

                <div class="language-selector">
                    <select id="languageSelector">
                        <option value="en"><img src="/assets/Flags/USA.png" />EN</option>
                        <option value="ar"><img src="/assets/Flags/Arabic.png" />AR</option>
                        <option value="ru"><img src="/assets/Flags/RUSSIA.png" />RU</option>
                        <option value="tr"><img src="/assets/Flags/TURKEY.png" />TR</option>
                    </select>
                </div>


            </div>
        </nav>
       </header>

      
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <section class="footerSection">
    <footer class="footer">
        <div class="logoInfo">
            <img alt="Codyle" src="~/assets/Brand/Logo.png" height="60px" draggable="false">
            <p>Codyle makes it easy __ all in one platform! It is a platform where business owners, business starters, university students and technology enthusiasts meet.</p>
        </div>

        <div class="footer-heading footer-1">
            <h2>Links</h2>

            <a asp-action="Trips" asp-controller="Home" asp-area="Customer"> Trips </a>
            <a asp-action="CarRental" asp-controller="car" asp-area="Customer"> Car Rental </a>
            <a asp-action="Blogs" asp-controller="Home" asp-area="Customer"> Blogs </a>
        </div>

        <div class="footer-heading footer-2">
            <h2>Explore</h2>

            <a asp-controller="Home" asp-action="Events" asp-area="User">Events</a>
            <a asp-area="User" asp-controller="Home" asp-action="Aboutus"> About us </a>
            <a asp-controller="Home" asp-action="CSC" asp-area="User">Codyle Student Club</a>
        </div>

        <div class="footer-heading footer-3">
            <h2>Contacts</h2>
            <a href="mailto: support@zoomtourism.com">support@zoomtourism.com</a>
            @* <a>Phone Number</a>*@
            <div class="SocialmediaIcons">
                <a href="https://www.instagram.com/codyle_official/" target="_blank"> <img alt="Codyle Instegram" src="/Photos/socialMedia/Instegram2.png" height="30px" draggable="false"></a>

                @*  <a href="https://www.facebook.com/profile.php?id=100068896367166" target="_blank"> <img alt="Codyle Facebook" src="/Photos/socialMedia/Facebook2.png" height="30px" draggable="false"></a>*@

                <a href="https://twitter.com/CodyleOfficial" target="_blank"> <img alt="Codyle Twitter" src="/Photos/socialMedia/Twitter2.png" height="34px" draggable="false"></a>

                <a href="https://youtube.com/@@codyle" target="_blank"> <img alt="Codyle Youtube" src="/Photos/socialMedia/Youtube2.png" height="34px" draggable="false"> </a>

                <a href="https://www.tiktok.com/@@_codyle" target="_blank"> <img alt="Codyle Tiktok" src="/Photos/socialMedia/TikTok.png" height="34px " draggable="false"></a>
            </div>

        </div>

    </footer>
        <p class="copyrights">© All Rights Reserved. Zoom Tourism<a asp-area="User" asp-controller="Home" asp-action="Privacy"> Privacy Policy</a><br /> website made by Codyle</p>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/n94ifuzvl80pchikopiwgz2esrw8n28dwcywvpejlqrregfp/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
