@using ZoomTourism.Models;
@using System;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc

@{
    Layout = "_AdminLayout"; // Specify the user layout
}

@model IEnumerable<Trip>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZoomTourismWeb</title>
    <link rel="stylesheet" href="~/css/CarsDashboard.css" asp-append-version="true" />

</head>


<!--         add the content here        -->
<div class="buttons-container">
    <a asp-action="AdminDashboard" asp-controller="Home" asp-area="Admin" class="back-Button">&#x2190; back</a>
    <a asp-action="Upsert" asp-controller="Trip" asp-area="Admin" class="Add-Car">Add Car<img src="/Images/icons/Add-icon.png" alt=""></a>
</div>

<div class="car-cards-Container">


    @foreach (var Trip in Model.OrderByDescending(p => p.CreatedDate).ToList())
    {
      
            <div asp-action="TripDetails" >
              
                    <div class="Thumbnail">
                       
                        <img src="@Trip.ImageUrl" style="max-height: 300px; border-radius:22px 22px 0px 0px;" alt="Trip 1">
                    </div>

                    <div class="trip-description">
                        <div class="trip-title">
                            <h3>@Trip.Title</h3>
                       
                        </div>

                    </div>
                <div class="cta-buttons">


                    <a href="/Admin/Trip/Upsert?id=@Trip.Id" class="Edit-button">
                        <img src="~/assets/icons/Edit-Icon.png" alt="">
                        <p>Edit</p>
                    </a>
                    <a style="cursor:pointer;" onClick=Delete('/Admin/Trip/DeletePost/@Trip.Id') class="Delete-button">
                        <img src="~/assets/icons/Delete-Icon.png" alt="">
                        <p>Delete</p>
                    </a>
                </div>
            </div>
     


    }

</div>

<script>
    function Delete(url) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    success: function (data) {
                        if (data.success) {
                            alert("hey");
                            toastr.success(data.message);
                            location.reload();
                        } else {
                            toastr.error(data.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX Error:", status, error);
                    }
                });
            }
        })
    }
</script>

@section Scripts{

    <script>
        var currentPage = "carsPage";
    </script>
    <script src="~/js/LeadTable.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Dashboard.js"></script>
    <script src="~/js/IndexTranslation.js"></script>
}