@{
    ViewData["Title"] = "BlogCreation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Content</title>

    <link rel="stylesheet" href="~/css/Content.css" asp-append-version="true" />
</head>



<div class="adminButtons">

    <a asp-action="CarsDashboard" asp-controller="Home" asp-area="Admin"><img src="~/assets/Icons/WebsiteContent/car.png" height="100px">Cars</a>
    <a asp-action="Index" asp-controller="Trip" asp-area="Admin"><img src="~/assets/Icons/WebsiteContent/trip.png" height="100px">Trips</a>
    <a asp-action="Index" asp-controller="Blog" asp-area="Admin"><img src="~/assets/Icons/WebsiteContent/blog.png" height="100px">Blogs</a>

</div>
@section Scripts{
       
    <script>
        var currentPage = "webcontentDashboard";
    </script>
    <script src="~/js/LeadTable.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Dashboard.js"></script>
    <script src="~/js/IndexTranslation.js"></script>
}