@{
    ViewData["Title"] = "BlogCreation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<a asp-action="CarsDashboard" asp-controller="Home" asp-area="Admin">Cars</a>
<a asp-action="Index" asp-controller="Trip" asp-area="Admin">Trips</a>
<a asp-action="Index" asp-controller="Blog" asp-area="Admin">Blogs</a>