@using CodyleOffical.Utility;
@using ZoomTourism.Models.ViewModels;


@model List<UserVM>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout"; // Specify the user layout
}

<head>

    <link rel="stylesheet" href="~/css/Employees.css" asp-append-version="true" />


    <script src="~/js/tableJs.js"></script>
    <title>Employees</title>
</head>


<div class="newestLeads">
    <div class="add-employee-button-container">
        <a asp-action="AdminDashboard" asp-controller="Home" asp-area="Admin" class="back-Button">← back</a>
        <a asp-area="Identity" asp-page="/Account/Register">Add New Employee</a>
    </div>
    <div class="table-container">
        <div class="widgetHeader">
            <h3>Employee Table</h3>

            <div class="search">
                <input type="text" id="searchInput" placeholder="Search...">
            </div>

        </div>

        <div class="DataTable">

            <table id="studentTable">
                <thead>
                    <tr>
                        <th onclick="sortTable(0, 'text')" data-sort-type="text" data-sort-direction="asc">
                            Employee Name
                            <img class="sort" src="/Images/icons/DownArrow.png" alt="" height="8px">
                        </th>
                        <th onclick="sortTable(1, 'text')" data-sort-type="text" data-sort-direction="asc">
                            Position
                            <img class="sort" src="/Images/icons/DownArrow.png" alt="" height="8px">
                        </th>
                       @*  <th onclick="sortTable(2, 'text')" data-sort-type="text" data-sort-direction="asc">
                            State
                            <img class="sort" src="/Images/icons/DownArrow.png" alt="" height="8px">
                        </th> *@

                        <th class="center">Tasks</th>
                    </tr>
                </thead>
                <tbody>
                <tbody>
                        @foreach (var user in Model)
                        {
                           
                            
                            <tr>
                                <td class="td-name">@user.Name</td>
                                <td>@string.Join(", ", user.Roles)</td>

                                <td class="center">
                                    <div class="div-container">
                                        <div class="task_container">
                                            <img src="~/assets/icons/Tasks-icon.png" alt="" height="30px">
                                            <a asp-action="Upsert" asp-controller="Task" asp-area="Admin">
                                                <img src="~/assets/icons/Add-icon-with-circle.png" alt="" height="30px">
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            
                        }



                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
       
    <script>
        var currentPage = "employees";
    </script>
    <script src="~/js/LeadTable.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Dashboard.js"></script>
    <script src="~/js/IndexTranslation.js"></script>
}